body{
    text-align: center;
    background-color:bisque;
}
img{
transition: transform .10s;
}
img:hover{
    transform: scale(0.9);
}
#Apps{
    background-color:aquamarine;
}
#Games{
   background-color:aquamarine;  
}
#Chatbot{
   background-color:aquamarine;